/* NOT WORK :'( */
.form-inputs {
    display: flex;
    flex-direction: column; /* Stack items vertically */
  }
  
  @media (min-width: 1200px) {
    .form-inputs .username {
      order: 1; /* Username input first */
    }
  
    .form-inputs .email {
      order: 2; /* Email input second */
    }
  
    .form-inputs .phone {
      order: 3; /* Phone number input third */
    }
  
    .form-inputs .password {
      order: 4; /* New password input fourth */
    }
  
    .form-inputs .confirm-password {
      order: 5; /* Confirm password input fifth */
    }
  
    .form-inputs .country {
      order: 6; /* Country input last */
    }
  }
.profile-image {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-inline: auto;
  background-color: #f1f1f1;
}

.profile-image .input-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.profile-image .profile-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-image .icon-profile {
  position: absolute;
  bottom: -1px;
  right: 0px;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
}